{% extends 'base.html.twig' %}

{% block title %}TravelPackage index{% endblock %}

{% block body %}
    <h1>TravelPackage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Destination</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Price</th>
                <th>ImgSrc</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel_package in travel_packages %}
            <tr>
                <td>{{ travel_package.id }}</td>
                <td>{{ travel_package.destination }}</td>
                <td>{{ travel_package.startDate ? travel_package.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ travel_package.endDate ? travel_package.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ travel_package.price }}</td>
                <td>{{ travel_package.imgSrc }}</td>
                <td>{{ travel_package.description }}</td>
                <td>
                    <a href="{{ path('app_travel_package_show', {'id': travel_package.id}) }}">show</a>
                    <a href="{{ path('app_travel_package_edit', {'id': travel_package.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_travel_package_new') }}">Create new</a>
{% endblock %}
