<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"
            rel="stylesheet"
    />
    <!-- MDB -->
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
    ></script>
    <title>Document</title>
  
</head>
<body>

<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a href="{{path('app_travel_package_index')}}" class="list-group-item list-group-item-action py-2 ripple " aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard </span>
                </a>
            <a href="{{path('app_travel_package')}}" class="list-group-item list-group-item-action py-2 ripple active " aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Gerer Vol</span>
                </a>
                <a href="{{path('app_travel_package_new')}}" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Ajouter Voyage</span>
                </a>
               
                <a href="{{path('app_customer_index')}}" class="list-group-item list-group-item-action py-2 ripple "
            ><i class="fas fa-users fa-fw me-3"></i><span>Gerer Compte</span></a
          >
              
            </div>
        </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <!-- <img
                src="{{ asset('img/logo.png') }}"
                        height="25"
                        alt="MDB Logo"
                        loading="lazy"
                /> -->
                <h4 class='mt-2'>Luxuria Travel</h4>
            </a>
            <!-- Search form -->



            <form class="d-none d-md-flex input-group w-auto my-auto">
                <input
                        autocomplete="off"
                        type="search"
                        class="form-control rounded"
                        placeholder='Search ...'
                        style="min-width: 225px;"
                />
                <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
            </form>



            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
            
            </ul>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->

   

<main style="margin-top: 58px;" >
    <div class="container pt-4 ">
        <H1>Les Vol : </H1>
      
        <div class="d-flex flex-row">
            
                {% for travel_package in travel_packages %}
            <div class="card me-3 " style="width: 18rem;">
            <img src="{{ asset('images/vol/' ~ travel_package.imageName) }}" class="card-img-top img" alt=""/>
            <div class="card-body ">
                <h5 class="card-title">{{ travel_package.destination }}</h5>
                <p class="card-text">{{ travel_package.description }} </p>
                <h6 >Price : {{ travel_package.price }} TND</h6> 
                <h6 >Starting Date : {{ travel_package.startDate ? travel_package.startDate|date('Y-m-d') : '' }}</h6>
                <h6>Ending Date: {{ travel_package.endDate ? travel_package.endDate|date('Y-m-d') : '' }}   </h6>
                <a href="{{ path('app_travel_package_edit', {'id': travel_package.id}) }}" class="btn btn-primary ">Edit</a>
                {{ include('Admin/_deleteTravelPackage_form.html.twig') }}
            
            </div>
            </div>
            {% endfor %}

            
      </div>
      
    </div>
</main>
</body>
</html>
