<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Luxurya Voyage</title>
    <!-- Inclure les fichiers CSS de Bootstrap -->
      <link rel="stylesheet" href="{{ asset('css/style1.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Luxurya Voyage</a>
        {% if not app.user %}
      <li class="nav-item">
        <a href="{{ path('security_login')}}" class="nav-link">Connexion</a>
      </li>
  {% else %}
      <li class="nav-item">
        <a href="{{ path('security_logout')}}" class="nav-link">Déconnexion</a>
      </li>
  {% endif %}
    </nav>

    <section>
        <!-- Box de recherche -->
        <div class="search-box">
            <form action="{{ path('recherche')}}" method="GET">
                <input type="text" name="destination" placeholder="Destination" class="form-control">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
        </div>
        <div class="voyage-box">
            {% for travel_package in travel_packages %}
                <div class="card">
                 <img src="{{ travel_package.imgSrc }}" class="card-img-top" alt="Image du voyage"> 
                    <div class="card-body">
                    

                        <p>{{travel_package.id}}</p>
                        <h5 class="card-title">{{ travel_package.destination }}</h5>
                        <p class="card-text">Date de départ : {{ travel_package.startDate ? travel_package.startDate|date('Y-m-d') : '' }}</p>
                        <p class="card-text">Date de retour :  {{ travel_package.endDate ? travel_package.endDate|date('Y-m-d') : '' }} </p>
                        <p class="card-text">Prix : {{ travel_package.price }}</p>
                        <p class="card-text">Description du vol : {{ travel_package.description }}</p>
                        
                        <a  href="{{ path('create_reservation', {'customerId': app.user.id, 'packageId': travel_package.id }) }}"class="btn btn-primary">>Create Reservation</a>
                        </form>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Inclure les fichiers JavaScript de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>