{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <h1>Voyage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ voyage.destination }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ voyage.startDate ? voyage.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ voyage.endDate ? voyage.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ voyage.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voyage_index') }}">back to list</a>

    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
